body {
    font-family: 'Inter', Arial, sans-serif;
    /* Use the font from Figma or closest match */
    margin: 0;
    /* Remove default margin */
    background: #1E1E1E;
    /* As seen on Figma right panel */
    color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}